/* 
    T.R.O.M.B.O.N.E. Custom Stylesheet

	Created by Subhav Ramachandran <subhav@purdue.edu>

	Color scheme: https://color.adobe.com/Das-Boot-color-theme-189112/
*/

/*
 * Overriding Skeleton Defaults
 */

body {
	background: #F2EDE4;
	/*font-family: Georgia;*/
}

a {
	color: #8C8681;
}
a:hover {
	color: #55514d;
}

h1,h2,h3,h4,h5,h6 {
	color: #2F3540;
}

code {
	background: #FFF;
	border: 1px solid #D9D1C7;
}

th,
td {
	border-bottom: 1px solid #D9D1C7;
}

hr {
	border-top: 1px solid #D9D1C7;
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #666A73;
  border-color: #666A73; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #2F3540;
  border-color: #2F3540; }

/*
 * Extra Element Styles
 */
main > h1 {
	border-bottom: 0.2rem solid #2F3540;
	font-family: McLaren;
	font-size: 4.5rem;
}


/*
 * Layout
 */

#header, #main, #footer {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

#footer {
	margin-top: 10rem;
}


/* If at least desktop size, hide the header and footer. */
@media (min-width: 750px) {
	#header, #footer {
		opacity: .3;
		transition-duration: .5s;
	}

	#header:hover, #footer:hover {
		opacity: 1;
	}
}


/*
 * Header and Navigation
 */

h1#logo {
	font-family: "McLaren", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 4.0rem;
	margin-bottom: 0;
	
	transform: skewX(-2deg);
	font-weight: bold;
}

h2#logo-subtitle {
	font-family: "McLaren", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.5rem;
	margin-bottom: 0;
}

#primary-nav {
	background: #D9D1C7;
	margin: 1rem 0;
}

#primary-nav h1 {
	display: none;
}

#primary-nav ul {
	margin: 0;
}

#primary-nav li {
	display: inline-block;
	margin: 0;
}

#primary-nav li a {
	display: block;
	font-size: 1.3rem;
	padding: 1rem;
	text-decoration: none;
	text-transform: uppercase;
	color: #222;
}

#primary-nav li a.active, #primary-nav li a:hover {
	font-weight: bold;
}

/* If at least desktop size, move external links to the right. */
@media (min-width: 750px) {
	.primary-nav-external {
		float: right;
	}
}

/*
 * Page-specific styles
 */
.member {
	margin-top: 2rem;
}

.photo img {
	width: 100%;
}
